@keyframes rotate-infinite {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loading-spinner {
  -webkit-animation: rotate-infinite .8s linear infinite;
  animation: rotate-infinite .8s linear infinite;
  border: 7px solid rgba(255, 255, 255, 0.33);
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
  position: absolute;
}



